@import url(/fonts/stylesheet.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

#viewport {
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  font-family: 'Google Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
